* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../img/wall.png");
    height: 120px;
}

.header-text {
    padding-top: 20px;
    font-size: 4rem;
    text-align: center;
    font-family: "Edu TAS Beginner";
}

.container {
    min-height: 100vh;
    background-image: url("../img/cork.png");
}

.col-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

/**Flex*/
.flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.g-20 {
    gap: 20px;
}

.wrap {
    flex-wrap: wrap;
}

.col {
    margin-top: 50px;
    width: calc(100% / 3 - (20px * 2 / 3));
}

img {
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.card {
    background-color: white;
    padding: 10px;
    position: relative;
}

.pin {
    position: absolute;
    top: 0px;
    left: 140px;

}

.card:hover .pin {
    transform: scale(1.1) rotate(3deg);
    display: none;
}

figcaption {
    font-family: "Sometype Mono", monospace;
}

.text-title-card {
    font-size: 1.5rem;
}

/**progress bar*/
.bar {
    margin: 100px auto;
    width: 300px;
    height: 20px;
    background: #ddd;
    border-radius: 10px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: green;
    border-radius: 10px;
}

/**overlay*/
.overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    display: none
}

.overlay-content {
    position: relative;
}

.btn-close {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 8px 12px;
    background: white;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    z-index: 10;
}

.overlay-content img {
    max-width: 90vw;
    max-height: 90vh;
    display: block;
    border-radius: 10px;
}