* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../img/wall.png");
    height: 120px;
}

.header-text {
    padding-top: 20px;
    font-size: 4rem;
    text-align: center;
    font-family: "Edu TAS Beginner";
}

.container {
    min-height: 100vh;
    background-image: url("../img/cork.png");
}

.col-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

/**Flex*/
.flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.g-20 {
    gap: 20px;
}

.wrap {
    flex-wrap: wrap;
}

.col {
    margin-top: 50px;
    width: calc(100% / 3 - (20px * 2 / 3));
}

img {
    max-width: 100%;
    object-fit: cover;
}

.card {
    background-color: white;
    padding: 10px;
}

figcaption {
    font-family: "Sometype Mono", monospace;
}

.text-title-card {
    font-size: 1.5rem;
}